<button class="btn btn-info btn-lg mb-3" (click)="openForm()">Add New Company</button>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Location</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of paginatedCompanies; let i = index">
      <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.location }}</td>
      <td>{{ company.telephoneNumber }}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="editCompany(company)">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="openDeleteConfirmation(company)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between">
  <button class="btn btn-outline-info" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
    Previous
  </button>

  <div>
    <button *ngFor="let page of [].constructor(totalPages); let i = index" class="btn btn-outline-secondary btn-sm mx-1" (click)="goToPage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>

  <button class="btn btn-outline-info" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
    Next
  </button>
</div>

<div *ngIf="isDeleteConfirmationOpen" class="modal-overlay" (click)="closeDeleteConfirmation()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h5>Confirm Deletion</h5>
    <p>Are you sure you want to delete the company <strong>{{ companyToDelete?.name }}</strong> located at <strong>{{ companyToDelete?.location }}</strong>?</p>
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary me-2" (click)="closeDeleteConfirmation()">Cancel</button>
      <button class="btn btn-danger" (click)="confirmDeleteCompany()">Delete</button>
    </div>
  </div>
</div>

<div *ngIf="isFormOpen" class="modal-overlay" (click)="closeForm()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-companies-form *ngIf="isFormOpen"
                        [companyToEdit]="editingCompany"
                        (companyAdded)="addCompanyToList($event)"
                        (closeForm)="closeForm()">
    </app-companies-form>
  </div>
</div>
